

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Title:</span>
  </div>
  <input type="text" class="form-control" id="title">

</div>


<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Content:</span>
  </div>
  <textarea class="form-input" type="text" id="body" aria-label="With textarea"></textarea>
</div>

      <div class="form-group">
        <button class="btn btn-dark" type="submit">Create Post</button>
      </div>
    </form>
  </div>
  
  <script src="/js/create.js"></script>