
<form id="create-post-form">
  <div class="input-group mb-3" id="create-post-form">
    <div class="input-group-prepend">
      <span class="input-group-text">Title:</span>
      <input type="text" class="form-control" id="title">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Content:</span>
      </div>
      <div>
        <textarea class="form-input" type="text" id="body" aria-label="With textarea"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit" id="submit-post">Create Post</button>
      </div>
    </div>
  </div>
</form>

  
  <script src="/js/create.js"></script>