<div class="dashboard-container">

  <a href="/dashboard/edit"><button class="btn btn-dark">Edit a Post</button></a>

  <div class="user-post-card">
    <h2 class="post-card-heading" value="{{title}}">Here are your current posts</h2>

    <ul id="populate"></ul>
    {{!-- <form class="post">
      <input class="form-control" type="hidden" id="post-id" value='{{post_id}}' />

    </form> --}}
  </div>


</div>

<script src="/js/dashboard.js"></script>