<div class="userPost-card">
    <h2 class="">Here are your current posts</h2>
    
<a href="/dashboard/edit"><button class="btn btn-dark">Edit a Post</button></a>
    <button class="btn btn-primary" type="submit">Update Your Post</button>
    <button class="btn btn-primary" type="button">Delete Your Post</button>
    <button id: "category-page">Take me to the Threads!</button>

  <ul id="populated"></ul>

  <script src="/js/dashboard.js"></script>