<div class="dashboard-container">

  <div class="user-post-card">
    <h2 class="post-card-heading"value="{{title}}">Here are your current posts</h2>
  </div>

      <form>
      <div class="form-group">

         <ul id="populate"></ul>
      
      </div>
    </form>
</div>

<script src="/js/dashboard.js"></script>