<section class="tagline-wrapper">
    <h2 class="tagline">Pour in your interests, stir in some hobbies and finish with new leads!</h2>


</section>
<section id="map">
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d44728.51344703387!2d-122.69792785552379!3d45.519497070145064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1660617763385!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>

<script src="/js/homepageMap.js"></script>