<div class="login-container">

 <div class="login-form-card">
    <h2 class='login-heading'>Login</h2>
    <form id='login-form'>
      <div class='form-group'>
        <label for='email-login'>Email:</label>
        <input class='form-control' type='text' id='email-login' />
      </div>

      <div class='form-group'>
        <label for='password-login'>Password:</label>
        <input class='form-control' type='password' id='password-login' />
  
      </div>

      <div class='form-group'>
        <button class='btn btn-dark' type='submit'>login</button>
      </div>
    </form>
</div>


  <script src='./js/login.js'></script>
