


    <div>
        <h1>Welcome to the Message Board</h1>
    </div>
    <div>
        <h2>You've selected {{category}}</h2>
        <p>Below are all topics and posts related to {{category}}</p>
    </div>
        <input type="text" placeholder="Search..">

        <a href="/messageboard/create"><button type="submit">Add New Post</button></a>

     <ul id="populated"></ul>
    


<script src="/js/messageboard.js"></script>