/* main and homepage css*/
* {
  box-sizing: border-box;
}

:root {

  --primary-color: #606C38;
  --secondary-color: #BC6C25;
  --tertiary-color: #FEFAE0;
  --hover-color: #DDA15E;
  --alt-color: #283618;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --altgrey-color: #91b49d;
  
}

h1 {
  font-weight: bold;
}

h2 {
  color: var(--secondary-color);
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-shadow: 1px var(--tertiary-color);
}

.float-right {
  float: right;
}

a,
linked {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
  transition: color 0.1s;
  border: 5px;
  padding: 1%;
}

a:hover {
  color: color var(--hover-color);
}

button {
  background-color: var(--alt-color);
  border: 1%;
  padding: 0;
  color: var(--tertiary-color);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
}

button:hover {
  background-color: color var(--hover-color);
}

.btn {
  text-emphasis-color: var(--tertiary-color);
}

textarea,
input {
  padding: 1%;
  border-radius: 5px;
  border: 2px solid color var(--hover-color);
  background-color: var(--altgrey-color);;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--altgrey-color);;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-control {
  background-color: var(--altgrey-color);;
}

header {
  border-bottom: 2px solid var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

label .post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: var(--alt-color);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

footer {
  border-top: 2px solid var(--tertiary-color);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

/* 
    box-sizing: border-box;
    top: 0;
    margin: 0;
  } */

header {
  background-color: var(--alt-color);
  border-bottom: 2px solid var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
  cursor: pointer;
}

.hobbista-title {
  font-weight: bold;
  font-family: 'Slackey', cursive;
  font-size: 3.5em;
  color: var(--primary-color);
  text-shadow: 3px 2px var(--secondary-color);
}

.nav-item {
  max-width: 10%;
  font-size: 1em;
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: 'Staatliches', cursive;
}

.nav-item:hover {
  color:var(--secondary-color);
}

.nav-button {
  background: none;
  color: var(--tertiary-color);
  font-family: 'Staatliches', cursive;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.nav-button:hover {
  color: var(--secondary-color);
}


h2 {
  color: var(--secondary-color);

}

body {
  background-color: var(--primary-color);
}

.tagline-wrapper {
  width: 100%;
  text-align: left;
  margin-top: 1vh;
}

.tagline {
  font-family: 'Staatliches', cursive;
  color: var(--tertiary-color);
  font-size: 1.5em;
  margin-left: 1vw;
}

/* dashboard css*/

.dashboard-container {
  text-align: center;
  max-width: 100vw;
  align-items: center;
}

.user-post-card {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: var(--alt-color);
  box-shadow: 0 1px 12px var(--shadow-color);
  border: 1px solid var(--secondary-color);
  width: 60%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 8vh;
}

.post-card-heading {
  color: var(--secondary-color);
  font-family: 'Ropa Sans', sans-serif;
}

.form-control,
textarea {
  max-width: 30vw;
  margin: auto;
}

.form-group label {
  font-family: 'Staatliches', cursive;
  font-size: 1.5rem;
}

/* create.handlebars css*/

.create-post-container {
  text-align: center;
  max-width: 100vw;
  align-items: center;
}

.create-post-form {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: var(--alt-color);
  box-shadow: 0 1px 12px var(--shadow-color);
  border: 1px solid var(--secondary-color);
  width: 60%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 8vh;
}

/* categories.handlebars css*/

.category-list-heading {
  font-family: 'Staatliches', cursive;
  color: var(--tertiary-color);
  font-size: 1.5em;
  margin-left: 1vw;
}

.category-list {
  text-align: center;
  max-width: 100vw;
  align-items: center;
  margin-top: 8vh;

}

.category-links {
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: 'Ropa Sans', sans-serif;
}


/* messageboard css*/
.messageboard-container {
  text-align: center;
  max-width: 100vw;
  align-items: center;
}

.messageboard-heading {
  font-family: 'Staatliches', cursive;
  color: var(--tertiary-color);
  font-size: 1.5em;
  margin-left: 1vw;
}

.selection-text {
  color: var(--secondary-color);
  font-family: 'Ropa Sans', sans-serif;
}

.search-card {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: var(--alt-color);
  box-shadow: 0 1px 12px var(--shadow-color);
  border: 1px solid var(--secondary-color);
  width: 60%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 8vh;
}

/* login.handlebars css */
.login-heading .signup-heading {
  color: var(--secondary-color);
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  margin-left: 1vw;
}

.login-container {
  text-align: center;
  max-width: 100vw;
  align-items: center;
}

.login-form-card {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: var(--alt-color);
  box-shadow: 0 1px 12px var(--shadow-color);
  border: 1px solid var(--secondary-color);
  width: 60%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 8vh;
}

.signup-form-card {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: var(--alt-color);
  box-shadow: 0 1px 12px var(--shadow-color);
  border: 1px solid var(--secondary-color);
  width: 60%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 8vh;
}



textarea,
input {
  padding: 1%;
  border-radius: 5px;
  border: 2px solid color var(--hover-color);
  background-color: var(--altgrey-color);
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--altgrey-color);
}

/* post css*/

.mb-container{
  text-align: center;
  max-width: 100vw;
  align-items: center;
}

.mb-heading{
  color:#2c2441;
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  margin-left: 1vw;
}

.category-name-title{
  color: var(--secondary-color);
  font-family: 'Ropa Sans', sans-serif;
}

.category-name-subtitle{
  color: var(--altgrey-color);
}

.mb-post-card{
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,0.5);
  box-shadow: var(--shadow-color);
  border: 1px solid rgba(255,255,255,0.3);
  width: 60%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-top: 8vh;
}
 

/*footer*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-top: 2px solid var(--tertiary-color);

}

.btn {
  background-color: var(--secondary-color);
  font-family: 'Ropa Sans', sans-serif;
}