<div class="category-list">
    <h3>Select the message board you'd like to join</h3>
    {{#each categories as |category|}}

    <button>
        <a href='/categories/{{id}}' class="btn">{{category_name}}</a>
    </button> 
   
    {{/each}}
</div>